[submodule "frontend/libraries/SDL"]
	path = libraries/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "frontend/freetype"]
	path = libraries/freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "frontend/libraries/imgui"]
	path = libraries/imgui
	url = https://github.com/Clownacy/imgui.git
	branch = font-nonlinear
[submodule "clownmdemu-frontend-common"]
	path = clownmdemu-frontend-common
	url = https://github.com/Clownacy/clownmdemu-frontend-common
[submodule "libraries/inih"]
	path = libraries/inih
	url = https://github.com/benhoyt/inih
[submodule "libraries/emscripten-browser-file"]
	path = libraries/emscripten-browser-file
	url = https://github.com/Armchair-Software/emscripten-browser-file
[submodule "libraries/clowncd"]
	path = libraries/clowncd
	url = https://github.com/Clownacy/clowncd
