[Desktop Entry]
Version=1.2
Icon=clownmdemu
Exec=clownmdemu
Terminal=false
Type=Application
MimeType=application/x-genesis-rom
Categories=Game;Emulator;
Name=ClownMDEmu
GenericName=Sega Mega Drive Emulator
Keywords=emulator;genesis;mega drive;megadrive
